* {
    --blue-light: #AEC5EB ;
    color: #000000;
}

body {
    background: linear-gradient(to right, #2b2224 0%, #eeedf2 33%, #eef1f3 66%, #705e80 100%);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    /* Text align is horizontal*/
    text-align: center;
    /* align items is vertical */
}
